body {
  /* background-color:rgb(106, 134, 90); */
  background: linear-gradient(135deg,#8ac5e2 20%,#2f15b0 80%);
  height: 100vh;
  overflow: hidden;
}

.sform{
  font-family: 'BaselNeue', sans-serif;
  font-size: 52px;
  text-align: center;
}
.lname{
  font-family: 'BaselNeue', sans-serif;
  font-size: 20px;
  margin-left: 30px;
}
.fname{
  display:flex;
  text-align:left;
  width: 80%;
  height: 40px;
  margin-left: 30px;
  border: 20px;
  border-radius: 10px;
  
}
.scores{
  font-family: 'BaselNeue', sans-serif;
  font-size: 20px;
  margin-left: 30px;
}

.subject{
  margin-left: 30px;
}
.tag{
  width:30px;
  margin-bottom:26px;
  border: 10px;
  border-radius: 3px;
 
}
.submit-button{
  width:100px;
  height:30px;
  background-color:green;
  border: 10px;
  border-radius: 5px;
  margin-left: 30px;
}
/* .delete-button{
  width:100px;
  height:30px;
  background-color:red;
} */
table, th, td {
  border: 1px solid black;
}
table{
  margin-left: 30px;
}
.studentTable{
  width: 100%;
  margin-left: 30px;
}
.english{
  font-family: 'BaselNeue', sans-serif;
  font-size: 15px;
}